body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 50px 40px;
}

/* about styles */

.about{
margin-bottom: 40px;
}

.about-name {
    font-style:italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #565454; 
    margin-bottom: 20px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* projects styles */

.projects{
margin-bottom: 50px;

}

.title {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}

.projects-list {
padding: 0px;
margin-left: 0;
list-style: none;
}

.projects-item {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}

.projects-item__text {
   margin: 0;
}

.project,
.project-link {
font-style:normal;
font-weight: 900;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.project-link {
margin-left: 0;
}

.project-bracket {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #000000;
}

/* work styles */

.work-position {
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #000000;
 margin-bottom: 10px;
}

.organization {
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #FB6D3A;
}

.period {
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 15px;
 color: #A8A8A8;
 margin-bottom: 10px;
}

.line {
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 15px;
 color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
 color: #595959;
 ;
}

/* Education styles */

.title {
 margin-top: 40px;
}

.education-university {
 margin: 0;
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #FB6D3A;

}

.education-management {
 margin-top: 10px;
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 17px;
 color: #000000;

}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills
{
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-type {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-right: 10px;

}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgb(224, 217, 217);
}

.tech-skills-list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 17px;
}

.soft-skills-list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 17px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-item {
   color: #FB6D3A; 
}

.soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.icon {
    margin-right: 10px;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: white;
  }